

body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
}



h3 {
	color: red;
}

.title {
	color: darkblue;
	text-align: center;
}
.book-list-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.book-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1em;
}